* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.img1 {
    margin-top: 45px;
    margin-left: 191;
}

.navigation {
    margin-top: 50px;
    display: flex;
}

.navigation>li {
    margin-right: 34px;
}

.posOfMain {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
}

.header {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.posOfMain {
    display: flex;
    justify-content: space-between;
}

.ulPosition {
    display: flex;
    justify-content: space-between;
}

.footerInformationPosition {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.text1 {
    margin-top: 100px;
    margin-left: 200px;
}

.text2 {
    margin-right: 200px;
    margin-top: 100px;
}

.imgEdvard {
    margin-right: 300px;
}

.testimonialsText {
    margin-left: 250px;
}

.topOfTheUl {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.needMarginTop {
    margin-top: 300px;
}

.posOfMessengers {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 0 auto;
}

.ulChanges {
    max-width: 1200px;
    margin: 0 auto;
}

.topOfTheUlChanges {
    margin-left: 200px;
    margin-right: 200px;
}

.posOfMessengers1 {
    margin-top: 120px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 400px) {
    body {
        background-color: greenyellow;
    }
    .footerInformationPosition {
        display: block;
    }
}