p {
    color: blue;
}

.sasha {
    color: coral;
}

.title {
    color: teal;
}

.uppercase {
    text-transform: uppercase;
}

#GGG {
    color: cornflowerblue;
}

h1.special {
    color: aqua;
}

.list li {
    color: darkorange;
}